:root {
    --text-blue: rgba(62, 62, 89, 1);
    --black-900: rgba(18, 18, 18, 1);
    --black-400: rgba(167, 167, 167, 1);
    --pink: rgba(255, 0, 107, 1);
    --black-300: rgba(203, 203, 203, 1);
    --transparent: rgba(255, 255, 255, 0);
    --black-600: rgba(96, 95, 95, 1);
    --black-100: rgba(245, 245, 245, 1);
    --text-14px-regular-font-family: "Figtree", Helvetica;
    --text-14px-regular-font-weight: 400;
    --text-14px-regular-font-size: 14px;
    --text-14px-regular-letter-spacing: 0px;
    --text-14px-regular-line-height: 22px;
    --text-14px-regular-font-style: normal;
    --button-xsmall-font-family: "Figtree", Helvetica;
    --button-xsmall-font-weight: 500;
    --button-xsmall-font-size: 14px;
    --button-xsmall-letter-spacing: 0px;
    --button-xsmall-line-height: 24px;
    --button-xsmall-font-style: normal;
    --button-medium-font-family: "Figtree", Helvetica;
    --button-medium-font-weight: 500;
    --button-medium-font-size: 18px;
    --button-medium-letter-spacing: -0.4000000059604645px;
    --button-medium-line-height: 32px;
    --button-medium-font-style: normal;
    --text-16px-regular-font-family: "Figtree", Helvetica;
    --text-16px-regular-font-weight: 400;
    --text-16px-regular-font-size: 16px;
    --text-16px-regular-letter-spacing: 0px;
    --text-16px-regular-line-height: 26px;
    --text-16px-regular-font-style: normal;
    --text-16px-semibold-font-family: "Figtree", Helvetica;
    --text-16px-semibold-font-weight: 600;
    --text-16px-semibold-font-size: 16px;
    --text-16px-semibold-letter-spacing: 0px;
    --text-16px-semibold-line-height: 26px;
    --text-16px-semibold-font-style: normal;
    --shadow-03: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-white-duplicate: rgba(255, 255, 255, 1);
}